<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http:/java.sun.com/dtd/web-app_2_3.dtd">
	<servlet>
		<servlet-name>hello</servlet-name>
		<servlet-class>ir.amin.mavenbased.war.samples.HelloWorldServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>hello</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>catalog</servlet-name>
		<servlet-class>ir.amin.mavenbased.war.samples.catalog.CatalogServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>catalog</servlet-name>
		<url-pattern>/CatalogServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>asynccatalog</servlet-name>
		<servlet-class>ir.amin.mavenbased.war.samples.catalog.AsyncCatalogServlet</servlet-class>
		<async-supported>true</async-supported>
	</servlet>

	<servlet-mapping>
		<servlet-name>asynccatalog</servlet-name>
		<url-pattern>/AsyncCatalogServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>jspcatalog</servlet-name>
		<servlet-class>ir.amin.mavenbased.war.samples.catalog.JSPCatalogServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>jspcatalog</servlet-name>
		<url-pattern>/JSPCatalogServlet</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>ParameterLoggingFilter</filter-name>
		<filter-class>ir.amin.mavenbased.war.samples.catalog.ParameterLoggingFilter</filter-class>
		<!-- <async-supported>true</async-supported> -->
		<init-param>
			<param-name>timeout</param-name>
			<param-value>1000</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>ParameterLoggingFilter</filter-name>
		<url-pattern>/CatalogServlet</url-pattern>
	</filter-mapping>
	<!-- SOAP Service -->
	<!-- <listener> <listener-class> com.sun.xml.ws.transport.http.servlet.WSServletContextListener 
		</listener-class> </listener> <servlet> <servlet-name>hellosoap</servlet-name> 
		<servlet-class> com.sun.xml.ws.transport.http.servlet.WSServlet </servlet-class> 
		<load-on-startup>1</load-on-startup> </servlet> <servlet-mapping> <servlet-name>hellosoap</servlet-name> 
		<url-pattern>/hellosoap</url-pattern> </servlet-mapping> <session-config> 
		<session-timeout>120</session-timeout> </session-config> -->

</web-app>